{{> header}}
{{> navbar}}  
   
<div class="container">
 <select class="form-select" name="category" style="width: 200px; margin-top:20px;">
     <option value="1">Provinsi</option>
     <option value="2">Kabupaten</option>
 </select>
</div>

<div class="container" style="margin-top: 100px;">
 
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			{{#each provinsi}}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{this.nama}}</h4>
              </div>
              <div class="card-body">
                <img src="{{this.photo}}" alt="">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{this.tanggal}}</li>
                </ul>
                <a class="w-100 btn btn-lg btn-success" href="/detail/{{this.id}}">detail</a>
              </div>
            </div>
          </div>
		  {{/each}}
        </div>
      </main>

</div>


{{>footer}}